{% extends 'base.html' %}


{% block title %}

{% endblock %}

{% block homepage %}
<div class="wrapper">
        <div class="empty_block"></div>
    <div class="about">
        <h1>Выполнили студенты группы БКК2201</h1>
    <ul>Тагиев Р.Н.</ul>
    <ul>Савельев В.О.</ul>
    <h1>Используемый стек</h1>
    <ul>Flask</ul>
    <ul>SQLite</ul>
    <ul>Beautiful Soup</ul>
    <ul>json</ul>
    <ul>CSS</ul>
    <ul>HTML</ul>
    <h1>Используемые ресурсы</h1>
   <a href="http://mtuci.ru"> <ul>mtuci.ru</ul> </a>
    </div>





















</div>

{% endblock homepage %}

